services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.0.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - msdelivery-network

  kafka:
    image: confluentinc/cp-kafka:7.0.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Quando o cliente estiver dentro de outro container, use 'kafka:9092'.
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - msdelivery-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - msdelivery-network

  msregister:
    build:
      context: ./msregister
      dockerfile: Dockerfile
    container_name: msregister
    ports:
      - "8085:8080"
    environment:
      - JAVA_OPTS=-Xmx512m -Xms256m
    networks:
      - msdelivery-network
    restart: unless-stopped



# Observações:
# - Construa o jar localmente antes de subir: mvn -DskipTests package
# - Para subir: docker compose up -d
# - Se quiser expor o Kafka para ferramentas no host, conecte-se em localhost:29092 (advertised listener acima).

networks:
  msdelivery-network:
    external: true
